@import "src/assets/styles/breakpoints";

.task-list {
  height: 100%;
  margin: 20px;

  .actions-container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 20px;
    flex-wrap: wrap;

    .add-task-container {
      display: flex;

      .add-task-btn {
        margin-left: 10px;
      }
    }

    .filter-by-status {
      align-items: center;

      .filter-by-status-lable {
        margin-right: 10px;
      }
    }

    .search {
      flex-basis: 25%;
      margin-top: 15px;
    }
  }
}

.drag-handle {
  display: flex;
  align-items: center;
  cursor: move;

  .handle {
    margin-right: 5px;
  }
}

/* Animate items as they're being sorted. */
.cdk-drop-list-dragging .cdk-drag {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
  padding: 4px;
}

.cdk-drag-placeholder {
  opacity: 0;
}

@media screen and (min-width: $MIN_MOBILE_WIDTH) and (max-width: $MIN_TABLET_WIDTH) {
  .search {
    flex-basis: 40% !important;
  }
}
