@import "src/assets/styles/breakpoints";

.task-list {
  height: 100%;
  margin: 20px;

  .actions-container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 20px;
    flex-wrap: wrap;

    .add-task-container {
      display: flex;

      .add-task-btn {
        margin-left: 10px;
      }
    }

    .filter-by-status {
      align-items: center;

      .filter-by-status-lable {
        margin-right: 10px;
      }
    }

    .search {
      flex-basis: 25%;
      margin-top: 15px;
    }
  }

  .drag-handle {
    display: flex;
    cursor: move;

    .handle {
      margin-right: 5px;
    }
  }
}

@media screen and (min-width: $MIN_MOBILE_WIDTH) and (max-width: $MIN_TABLET_WIDTH) {
  .search {
    flex-basis: 40% !important;
  }
}
