<div class="modal-header">
  <h4 class="modal-title" id="modal-title">{{ modalTitle }}</h4>
  <button
    type="button"
    class="btn-close"
    aria-describedby="modal-title"
    (click)="dismiss()"
  ></button>
</div>
<div class="modal-body">
  <p>
    <strong
      >{{ confirmMessage }}
      <span class="text-primary">{{ itemToDelete }}</span>?</strong
    >
  </p>
  <p>
    <span class="text-danger">This operation can not be undone.</span>
  </p>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-secondary" (click)="dismiss()">
    Cancel
  </button>
  <button type="button" class="btn btn-danger" (click)="confirm()">
    Confirm
  </button>
</div>
